{
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "root": true,
  "rules": {
    "no-console": [
      1,
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "doctype-first": 0,
    "max-len": "off",
    "no-param-reassign": [ 2, { "props": false } ],
    "no-plusplus": 0,
    "no-confusing-arrow": ["error", { "allowParens": true}],
    "no-underscore-dangle": 0,
    "prefer-rest-params": 0,
    "import/no-named-as-default": 0
  }
}
